.aliados{
	background: #f9f9f9;
  ul{
	 padding-left: 0;
  }
}

.info-section{
	float: right;
	font-size: 18px;
	width: 50%;
}

.logos-aliados{
	margin-top: 60px;
	li{
		display: inline-block;
		height: 90px;
		margin-top: 60px;
		text-indent: -9999px;
		width: 24.5%;
	}
}

.logoAnimacion{
	background: url(../img/logos/logo-animation.png) no-repeat center;
	background-size: contain;
}

.logoCamtic{
	background: url(../img/logos/logo-camtic.png) no-repeat center;
	background-size: contain;
}

.logoCenfotec{
	background: url(../img/logos/logo-cenfotec.png) no-repeat center;
	background-size: contain;
}

.logoIna{
	background: url(../img/logos/logo-ina.png) no-repeat center;
	background-size: contain;
}

.logoEmpleate{
	background: url(../img/logos/logo-empleate.png) no-repeat center;
	background-size: contain;
}

.logoMtss{
	background: url(../img/logos/logo-mtss.png) no-repeat center;
	background-size: contain;
}

.logoGeek{
	background: url(../img/logos/logo-geek.png) no-repeat center;
	background-size: contain;
}

.logoComunidad{
	background: url(../img/logos/logo-comunidad.png) no-repeat center;
	background-size: contain;
}