/* ==|====================
   Partials/Components/Buttons

   -------INDEX--------
   #Style of the buttons in free courses
   #View All Courses
   #Read More About The Course
   ======================= */

/* #Style of the buttons in free courses
   ========================================================================== */
.btn-course {
    font-family: $titles;
}
/* #View All Courses
   ========================================================================== */
.btn {
    @include font-size(15);
    color: $blue-light;
    padding: 6px 12px;  
}

.btn-arrow-course {
    margin-right: 6px;
    width: 9px;
}
/* #Read More About The Course
   ========================================================================== */
.read-more {
    background-color:$blue-light;
    border-radius: 6px;
    color: $white;
    @include font-size(14);
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: 23px;
    text-decoration: none;

     &:hover{
        background-color: #00acea;
        color: $white;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}
