/* ==|====================
   Partials/Components/Buttons

   -------INDEX--------
   #Style of the buttons in free courses
   #View All Courses
   #Read More About The Course
   #RS ICONS
   ======================= */

/* #Style of the buttons in free courses
   ========================================================================== */
.btn-course {
    font-family: $titles;
}

/* #View All Courses
   ========================================================================== */
.btn {
    @include font-size(15);
    color: $blue-light;
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        display: block;
        padding: 6px 0px;
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        display: block;
        padding: 6px 0px;
    }
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        display: block;
        padding: 6px 0px;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        display: inline-block;
        padding: 6px 12px;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        display: inline-block;
        padding: 6px 12px;
    }
}

.btn-arrow-course {
    margin-right: 6px;
    width: 9px;
}

/* #Read More About The Course
   ========================================================================== */
.read-more {
    @include font-size(14);
    background-color:$blue-light;
    border-radius: 6px;
    color: $white;
    padding: 6px 10px;
    text-decoration: none;
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        display: inline-block;
        margin-top: 10px;
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        display: inline-block;
        margin-top: 10px;
    }
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        display: inline-block;
        margin-top: 10px;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        position: absolute;
        right: 0;
        top: 23px;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        position: absolute;
        right: 0;
        top: 23px;
    }
     &:hover{
        background-color: #00acea;
        color: $white;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}

/* RS ICONS
   ========================================================================== */
.icons-rs li {
    margin-right: 15px;
}

.icons-rs li a {
    &:hover {
        border-bottom: none;
    }
}
.icon-rs {
    fill: #fff;
    text-decoration: none;
}

.facebook-icon {
    height: 40px; 
    margin-top: 20px;
    width: 40px;
    &:hover .icon-rs {
        cursor: pointer;
        fill: #4966a7;
    }
}

.vimeo-icon {
    height: 40px; 
    width: 40px;
    &:hover .icon-rs {
        cursor: pointer;
        fill: #17b3e8;
    }
}
