// 
// Buttons
//

/* ===========  Buttons Free Courses =========== */
.clear {
    width: 293px;
    @media (min-width : 768px) {
        margin: 50px 0;
    }
    @media (min-width: 1024px){
        margin: 45px 0;
    }
}

.btn {
    font-family: $body;
    @include font-size(18);
    text-decoration: none;
    color: $color3;
    background-color: transparent;
    height: 100%;
    text-align: center;
    border: 1px solid $cursos;
    @include border-radius(3px);
    @media (min-width: 768px){
        @include font-size(16);
    }
    @media (min-width: 1024px){
        @include font-size(18);
    } 
}

.btn:hover {
    background-color: $cursos;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-course-1 {
    @media (min-width: 768px){
        padding: 12px 62px 12px 62px;
    }
    @media (min-width: 1024px){
        padding: 12px 67px 12px 67px;
    }
}

.btn-course-2 {
    @media (min-width: 768px){
        padding: 12px 34px 12px 34px;
    }
    @media (min-width: 1024px){
        padding: 12px 35px 12px 35px;
    }
}

