/* ==|====================
   Partials/Components/Courses

   -------INDEX--------
   #container courses
   #Description course
   #Opacity
   #Course list
   ======================= */

/* #container courses
   ========================================================================== */
.free-courses {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

/* #Description course
   ========================================================================== */
.description-free-courses {
    width: 100%;
}

.text-title-free-courses {
    color: $blue-light;
    font-family: $titles;
    margin: 0;
    width: 100%;
    text-align: center;
    /* Medium Devices, Desktops */
    @media ( min-width : 1100px ) {
        text-align: left;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        text-align: left;
    }
}

.content-text-course {
    display: block;
    width: 100%;
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) { 
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1100px ) { 
        float: right;
        width: 50%;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) { 
        float: right;
        width: 50%;
    }
}

.text-course-description {
    @include font-size(16);
    color: $grey;
    font-family: $body;
    margin: 0;
}

/* #Opacity
   ========================================================================== */
.opacity {
    background-color: rgba(0, 0, 0, 0.51);
}

.background-opacity {
    height: 357px;
    padding-top: 20px;
}

/* #Course list
   ========================================================================== */
.content-free-courses {
    clear: both;
    padding-top: 60px;
    width: 100%;
}

.images-free-courses{
    background-image: url(../img/course.JPG);
    background-position: right;
    background-size: cover;
    float: left;
    height: 315px;
    width: 45%;
    display: none; 
    /* Medium Devices, Desktops */
    @media ( min-width : 1100px ) {
        display: inline-block;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        display: inline-block;
    }
}

.container-list-courses {
    width: 100%;
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        width: 90%;
        margin: 0 auto;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1100px ) {
        width: 50%;
        float: right;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        width: 50%;
        float: right;
    }
}
.title-list-courses {
    @include font-size(24);
    color: $grey-dark;
    font-family: $titles;
    margin: 0;
}

.list-free-courses {
    margin-bottom: 0;
    padding: 0;
}

.course-item {
    border-bottom: 1px solid $grey-light;
    list-style: none;
    padding: 17px 0;
    position: relative;
    &:last-child{
        border-bottom: none;
    }
}

.title-course-item {
    @include font-size(16);
    color: $grey-dark;
    display: inline-block;
    font-family: $titles;
    margin: 0;
    width: 100%;
    /* Medium Devices, Desktops */
    @media ( min-width : 1100px ) {
        width: 60%;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        width: 60%;
    }
}
.date-course-item{
    @include font-size(13);
    color: $grey;
    font-family: $body;
    margin-bottom: 0;
    margin-top: 6px;
}

.button-free-courses{
    margin-top: 25px;
}
