/* ==|====================
   Partials/Components/Header
   ======================= */

header {
	background: url(../img/prueba.jpg) no-repeat center;
	background-attachment: fixed;
 	background-size: cover;
	height: 700px;
}

.logo-cetav {
	float: left;
	background: url(../img/logos/logo-cetav.png) no-repeat center;
	background-size: contain;
	height: auto;
	margin-top: -8px;
	text-indent: -9999px;
	width: 100px;
}

.top-header {
  	background: $color4;
	height: 70px;
  	width: 100%;
  	z-index: 5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* Content Header
   ========================================================================== */
.content-header{
	padding-top: 14.5%;

	p:first-child{
		color: $color3;
		margin:0 0 15px;
	}

	strong{
		color: $color1;
	}
}

.type-wrap{
	@include font-size(48);
	font-family: $titles;
	margin:10px auto;
	padding:20px;
	text-align: center;
}

.wrap{
	max-width: 600px;
	margin:150px auto;
}
