/* ==|====================
   Partials/Components/Header
   ======================= */

header {
	background: url(../img/prueba.jpg) no-repeat center;
	background-attachment: fixed;
 	background-size: cover;
	height: 700px;
}

.logo-cetav {
	float: left;
	background: url(../img/logos/logo-cetav.png) no-repeat center;
	background-size: contain;
	height: auto;
	margin-top: -8px;
	text-indent: -9999px;
	width: 100px;
}

.top-header {
  	background: $color4;
	height: 70px;
	position: fixed;
  	width: 100%;
  	z-index: 5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* Content Header
   ========================================================================== */
.content-header {
	padding-top: 18.5%;
	.overlay {
		text-align: center;
	}

	@-webkit-keyframes typing { from { width: 0; } }
	@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

	h2 {
		color: $color3;
	}
	h3 { 
		@include font-size(48);
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		-webkit-animation: typing 4s steps( 41, end ),
		blink-caret .5s step-end infinite alternate;
	}

	span {
		color: $color1;
	}
}
