// 
// Header
//

header{
	background: url(../img/header1.jpg) no-repeat center;
	background-attachment: fixed;
 	background-size: cover;
	height: 700px;
}

.logo-cetav{
	float: left;
	background: url(../img/logos/logo-cetav.png) no-repeat center;
	background-size: contain;
	height: auto;
	margin-top: -20px;
	text-indent: -9999px;
	width: 100px;
}

.top-header{
  	background: $color3;
	height: 70px;
	position: fixed;
  	width: 100%;
  	z-index: 5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* =========== Content Header =========== */
.content-header{
	padding-top: 22.5%;

    @media (max-width : 1280px) {
    	width: 80%;
		padding-top: 20.5%;
    }
    @media (max-width : 1024px) {
		width: 80%;
		padding-top: 24.5%;
    }
    @media (max-width : 768px) {
		width: 55%;
		padding-top: 30%;
    }
	.overlay {
		background-color: rgba(29, 29, 29, 0.1);
	}

	h2{
		color: $color3;
		text-align: center;
	}

	span{
		color: $color1;
	}
}
