/* ==|====================
   Partials/Components/Navigation
   ======================= */

nav ul li a {
  color: $color3;
  font-family: $titles;
}

.drop-down{
  background-color: #1d1d1d;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.85)"; /*internet explorer 8 - */
  filter: alpha(opacity=0.85); /* internet explorer */
  -khtml-opacity: 0.85;      /* khtml, version anterior de safari */
  -moz-opacity: 0.85;       /* firefox, mozilla, netscape */
  opacity: 0.85;           /* safari, chrome, opera */

  display: none;
  padding: 20px 0;
  position: absolute;
  text-align: left;
  width: 180px;

  li{
    display: block;
    margin-bottom: 15px;
    padding-left: 6%;
  }

  a {
    color: $color3;
  }
}

.main-nav {
  @include font-size(15);
  margin: -8px 0;
  text-align: right;

  li:hover .drop-down{
    display: block;
  }

  li a{
    font-weight: bold;
  }
}

.nav-content{
  display: inline-block;
  float: right;
  margin-top: 19px;
  width: 80%;
}

.searchBox{
  float: right;
  margin: 0 0 0 20px;

  &:hover{
    cursor: pointer;
  }

  .searcherInput{
    background: transparent;
    border: none;
    border-bottom: 1px solid $color2;
    color: #aaa;
    display: none;
    @include font-size(14);
    margin: 9px 8px 0 0;
    padding: 0 10px 8px 0;
    width: 200px;

    &:focus{
      outline: none !important;
      border-color: none;
    }
  } 

}

#searcher{
  margin: 10px 0 0;
  float: right;
}

.extended{
  display: inline-block;
}

.secundary-nav{
  background-color: #505050;
  margin-top: 0;
  padding: 10px 0;
  text-align: right;
  li a{
    color: $color3;
    @include font-size(13);

    &:hover{
      text-decoration: underline;
    }
  }
}

.fixed {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}
