/* ==|====================
   Partials/Blocks

   -------INDEX--------
   #Block initial text
   #Courses
   ======================= */

.section-title {
    @include font-size(36);
    color: $color1;
    display: block;
    font-family: $titles;
    line-height: 1.2;
    margin-top: 15px;
    text-align: left;
    width: 50%;
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        @include font-size(24);
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        @include font-size(28);
    }
    /* Small Devices, Tablets */
    @media ( min-width: 900px ) {
        @include font-size(30);
    }
    /* Medium Devices, Desktops */
    @media ( min-width: 1024px ) {
        @include font-size(36);
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        @include font-size(36);
    }
}

.max-content {
    margin: 0 auto;
    max-width: $content;
    overflow: auto;
    padding: 0 5px;
    /* Custom, iPhone Retina */ 
     @media (min-width : 320px) {
        max-width: 300px;
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        max-width: 400px;
    }
    /* Small Devices, Tablets */
    @media ( min-width : 768px ) {
        max-width: 730px;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        max-width: 960px;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        max-width: $content;
    }
}

/* Block initial text
   ========================================================================== */
.text-intro {
    background-color: $color3;
    height: auto;
}

.main-title {
    display: block;
    text-align: center;
    float: left;
    width: 100%;
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        margin-bottom: 15px;
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        margin-bottom: 20px;
    }
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        margin-bottom: 30px;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        width: 40%;
        display: inline-block;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        width: 40%;
        display: inline-block;
    }
}

.main-title img {
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        width: 200px;
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        width: 240px;
    }
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        width: 280px;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        width: 300px;
        margin-top: 30px;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        width: 300px;
        margin-top: 30px;
    }
}

.title-intro {
    @include font-size(48);
    width: 100%;
}

.main-text {
    display: block;
    width: 100%; 
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        width: 50%;
        float: right;
        margin-right: 60px;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        width: 50%;
        float: right;
        margin-right: 60px;
    }
}


.main-text p {
    @include font-size(16);
    margin-top: 0;
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        @include font-size(18);
        margin-top: 10px;        
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        @include font-size(18);
        margin-top: 10px;        
    }
}

.read-more-about {
    @include font-size(14);
    border-radius: 6px;
    border: 2px solid $color2;
    color: $color2;
    float: left;
    font-family: $body;
    padding: 5px 8px;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @media ( min-width: 900px ) {
        margin-top: 5px;
    }
    @media ( min-width: 1024px ) {
        margin-top: 5px;
    }
}

.read-more-about:hover {
    background-color: $color2;
    color: white;
}


/* Courses
   ========================================================================== */
.section-courses {
    overflow: hidden;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 80px auto 0;
}

.container-card {
    display: block;
    height: 400px;
    float: left;
    text-align: center;
    position: relative;
    width: 100%;
/*    border: 1px solid #dedede;*/
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        width: calc(100% / 3);
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        width: calc(100% / 3);
    }
}

.container-info {
    background-position: center;
    background-size: cover;
    display: block;
    height: 100%;
    padding: 30px 15px;
    position: absolute;
    width: 100%;
}

.container-title {
    padding: 0;
    position: relative;
    top: 46%;
    transform: translateY(-50%);
}

.logo-courses {
    margin-bottom: 20px;
}

.title-course {
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        @include font-size(24);
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 480px ) {
        @include font-size(26);
        padding: 0 5%;
    }
    /* Small Devices, Tablets */
    @media ( min-width : 900px ) {
        @include font-size(28);
        padding: 0 10%;
    }
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        @include font-size(30);
        padding: 0;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        @include font-size(30);
        padding: 0;
    }
}

.br-style {
    display: none;
    /* Medium Devices, Desktops */
    @media ( min-width : 1024px ) {
        display: block;
    }
    /* Large Devices, Wide Screens */
     @media (min-width : 1280px) {
        display: block;
    }
}

.view-more {
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 22px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/**
 * card animation
 */
.container-info-animation {
    background-image: url(../img/animacion.jpg);
}

.view-more-animation {
    background-color: #cc6220;
    color: white;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/**
 * card web
 */
.container-info-web {
    background-image: url(../img/web.jpg);
}

.view-more-web {
    background-color: #922716;
    color: white;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/**
 * card post
 */
.container-info-post {
    background-image: url(../img/post.jpg);
}

.view-more-post {
    background-color: #819535;
    color: white;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
