/* ==|====================
   Partials/Blocks
   ======================= */

.section-title {  
    display: block;
    font-family: $titles;
    margin-top: 15px;
    line-height: 1.2;
    width: 50%;
    text-align: left;
    color: $color1;
    @include font-size(36);
    @media ( min-width: 768px ) {
        @include font-size(36);
    }
    @media ( min-width: 1024px ) {
        @include font-size(36);
    }
}


/* Block initial text
   ========================================================================== */
.text-intro {
    background-color: $color3;
    height: auto;
}

.main-title {;
    width: 40%;
    display: inline-block;
}

.main-title img {
    width: 300px;
    margin-top: 30px;
}

.title-intro {
    width: 100%;
    @include font-size(48);
}

.main-text {
    width: 50%;
    float: right;
    margin-right: 60px;
}


.main-text p {
    @media ( min-width: 768px ) {
        margin-top: 0;
        @include font-size(16);
    }
    @media ( min-width: 1024px ){
        margin-top: 10px;
        @include font-size(18);
    }
}

.read-more-about {
    color: $color2;
    font-family: $body;
    float: left;
    border: 2px solid $color2;
    border-radius: 6px;
    padding: 5px 8px;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @include font-size(14);
    @media ( min-width: 768px ) {
        margin-top: 5px;
    }
    @media ( min-width: 1024px ) {
        margin-top: 5px;
    }
}

.read-more-about:hover {
    color: white;
    background-color: $color2;
}


/* Courses
   ========================================================================== */
.section-courses {
    padding: 0;
    overflow: hidden;
}

.wrapper {
    max-width: 1000px;
    margin: 80px auto 0;
}

.container-card {
    width: calc(100% / 3);
    height: 400px;
    float: left;
    text-align: center;
    display: inline-block;
    position: relative;
/*    border: 1px solid #dedede;*/
}

.container-info {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    padding: 30px 15px;
    position: absolute;
}

.container-title {
    position: relative;
    padding: 0;
    top: 46%;
    transform: translateY(-50%);
}

.title-course {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.view-more {
    padding: 15px 22px;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/**
 * card animation
 */
.container-info-animation {
    background-image: url(../img/animacion.jpg);
}

.view-more-animation {
    background-color: #cc6220;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    color: white;
}

/**
 * card web
 */
.container-info-web {
    background-image: url(../img/web.jpg);
}

.view-more-web {
    background-color: #922716;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    color: white;
}

/**
 * card post
 */
.container-info-post {
    background-image: url(../img/post.jpg);
}

.view-more-post {
    background-color: #819535;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    color: white;
}


