// 
// Blocks
//


.section-title {  
    display: inline-block;
	color: $color1;
	font-family: $titles sans-serif;
	@include font-size(48);
	margin-top: 15px;
	line-height: 120%;
    width: 50%;
}


/* =========== Block initial text =========== */

.text-intro {
    background-color: $sections-body;
    height: 380px;
    @include font-size(18); 
}

.main-title {
    width: 50%;
    display: inline-block;
}

.title-intro {
    width: 100%;
}

.main-text {
    width: 50%;
    float: right;
}


.main-text p{
    margin-top: 35px;
}

.read-more-about {
    color: $color2;
    font-family: $body;
    float: right;
    margin-top: 30px;
    border-bottom: 2px solid $color1;
}

.read-more-about:hover {
    color: $color1;
}


/* =========== Block courses =========== */

.list-courses {
    padding: 0;
    margin: 0;
}

.course{
    list-style: none;
    display: inline-block;
    width: 33%;
    height: 300px;
    margin: 30px 0;
    overflow: hidden;
     @include border-radius(3px);
    cursor: pointer;
    perspective: 800;
    position: relative;
}

.course-container {
    height: 300px;
    width: 300px;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.course-container:hover {
    transform: rotateY(180deg);
}

.side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    @include border-radius(3px);
}

.back {
    transform: rotateY(180deg);
    background-color: #eee;
    @include border-radius(3px);
}

.sub-title {
	@include font-size(28);
    color: $color3;
    line-height: 120%;
}

.sub-title-course {
    text-align: center;
    position: relative;
    top: 47%;
    transform: translateY(-50%);
}

.opacity {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 300px;
	@include border-radius(3px);
}

.btn-course {
	@include border-radius(3px);
}

/*side animation*/
.side-animation {
	background-image: url(../img/animacion.jpg);
	width: 100%;
    color: $animacion;
    @include border-radius(3px);
}

.text-animation {
	@include font-size(18);
    color: $animacion;
    padding: 0 15px;
    margin-top: 80px;
    text-align: center;
}

.clear-btn {
    text-align: center;
    position: absolute;
    bottom: 35px;
    width: 100%;
}

.btn-animation {
    @include font-size(18);
    text-decoration: none;
    color: $animacion;
    background-color: transparent;
    height: 100%;
    text-align: center;
    padding: 12px 67px 12px 67px;
    margin: 0 auto;
    border: 1px solid $animacion;
}

.btn-animation:hover {
    background-color: $animacion;
    color: $color3;
}

/*side web*/
.side-web {
	background-image: url(../img/web.jpg);
	width: 100%;
    @include border-radius(3px);
}

.text-web {
    @include font-size(18);
    color: $web;
    padding: 0 15px;
    margin-top: 80px;
    text-align: center;
}

.btn-web {
    @include font-size(18);
    text-decoration: none;
    color: $web;
    background-color: transparent;
    height: 100%;
    text-align: center;
    padding: 12px 67px 12px 67px;
    margin: 0 auto;
    border: 1px solid $web;
}

.btn-web:hover {
    background-color: $web;
    color: $color3;
}

/*side post*/
.side-post {
	background-image: url(../img/post.jpg);
	width: 100%;
    @include border-radius(3px);
}

.text-post {
    @include font-size(18);
    color: $post;
    padding: 0 15px;
    margin-top: 80px;
    text-align: center;
}

.btn-post {
	@include font-size(18);
    text-decoration: none;
    color: $post;
    background-color: transparent;
    height: 100%;
    text-align: center;
    padding: 12px 67px 12px 67px;
    margin: 0 auto;
    border: 1px solid $post;
}

.btn-post:hover {
    background-color: $post;
    color: $color3;
}

/* =========== Free Courses =========== */
.free-courses {
    width: 100%;
    height: 465px;
    margin: 30px 0;
    padding: 0;
    background: url(../img/curso1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.background-opacity {
    width: 100%;
    height: 465px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*descriton free courses*/

.title-free-courses {
    color: $color3;
    padding: 30px 0 10px;
    width: 100%;
}

.content-free-courses {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.description-free-courses {
    width: 50%;
    display: inline-block;
}

.description-free-courses .section-title{
	color: $color3;
	width: 100%;
}

.text-course-description {
    @include font-size(18);
    font-family: $body;
    color: $color3;
    margin-top: 0;
}

/*list free courses*/
.content-new-courses {
    float: right;
    width: 347px;
    height: 465px;
    background-color: rgba(0, 0, 0, 0.65);
    color: $color3;
    @include font-size(18);
}

.text-title-free-courses {
    width: 86%;
    margin: 18px auto;
    font-weight: bolder;
    font-family: $body;
    @include font-size(22);
}

.list-free-courses {
    padding: 0;    
}

.course-item {
    width: 86%;
    list-style: none;
    margin: 18px auto;
}

.course-item hr {
    margin-top: 25px;
    border: 0;
    border-top: 1px solid #c1c3c2;
}

.read-more {
    color: $color3;
    font-family: $body;
    text-decoration-color: $cursos;
    border-bottom: 2px solid $cursos;
}

.read-more:hover {
    color: $cursos;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



/* =========== Services =========== */
.service {
    width: 48%;
    height: 360px;
    margin: 30px 0;
}

.background-opacity-service {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 360px;
}

.section-title-service {
	display: block;
}

/*estudio de audio*/
.service-audio {
    background-image: url(../img/audio.jpg);
    background-size: cover;
    display: inline-block;
}

.info-services {
    width: 100%;
    height: 360px;
    padding-left: 30px;
    color: $color3;
    float: right;
    background-color: rgba(0, 0, 0, 0.6);
}

.sub-title-service {
	font-family: $body;
    margin: 30px 0 15px 0;
}

.info-services p {
    font-family: $body;
    @include font-size(18);
    width: 80%;
    margin: 0 0 70px;
}

.btn-service {
    padding: 12px 67px 12px 67px;
}

/*estudio de render*/
.service-render {
    background-image: url(../img/render.jpg);
    background-size: cover;
    display: inline-block;
    float: right;
}
