// 
// Variables
//


// Tipografía
$titles: "Hind", Arial, sans-serif bold;
$body: "Open Sans", Arial, sans-serif;

// Colores
$color1: #ff8f00; //anaranjado
$color2: #848286; //negro-no tan oscuro
$color3: #fff; //blanco
$color4: #292929; //gris-navegation
$animacion: #cc6220; //animacion
$web: #922716; //web
$post: #819535; //post
$cursos: #00c9ed; //cursos libres
$sections-body: #F9F9F9; //background color


// Layout
$content: 1000px;
