/* ==|====================
   Partials/Variables
   ======================= */


/* Tipografía
   ========================================================================== */
$titles: "Montserrat", Arial, sans-serif bold;
$body: "Open Sans", Arial, sans-serif;

/* Colores
   ========================================================================== */
$color1: #ff8f00; //anaranjado
$color2: #848286; //gris 
$color3: #fff; //blanco
$color4: #292929; //gris-background-navegation
$animacion: #cc6220; //animacion
$animacion-light: #d15b12; //animacion hover
$web: #922716; //web
$web-light: #a31e09; // web hover
$post: #819535; //post
$post-light: #849e1f; //post hover
$sections-body: #ececec; //background color
$white: #fff;
$grey: #757575;
$grey-light:#D6D6D6;
$grey-dark:#292929;
$blue-light: #00c9ed;



/* Layout
   ========================================================================== */
$content: 1200px;
